﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="testproject">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">Hackaton 2016 test task</span>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
  
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">

        <ng-view>

        </ng-view>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    <script src="~/Scripts/_references.js"></script>
    <script src="~/Scripts/PlayMusicScripts/playmusic.js"></script>


    @*Angular scripts*@

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>


    <script src="~/JsApp/app.js"></script>
    <script src="~/JsApp/controllers.js"></script>

    <script src="~/JsApp/Controllers/signInController.js"></script>


</body>
</html>
